
body{
	
  background-image: url("../images/bg.jpeg");
  background-repeat:no-repeat;
}
.b1{
  margin:0 auto;
  width:100%;
  
  background: rgba(255, 255, 255, .5);
  
  
}
.bb{
	display:inline-block; 
	margin:0 auto;
	width:100%;
	height:auto;
    text-align:center;
	background: rgba(255, 255, 255, .5);
	
}
.pic {
     
    display:inline-block; 
}  